// @import "~bootstrap/scss/bootstrap";


.jumbotron {
  margin-bottom: 0em;
}

.hero {
  text-align: center;
}

.Footer {
  height: 20vh,;
  background-color: #000;
  color: #fff;
  text-align: center;
}
ul, li {
  list-style-type: none;
  padding: 0;
}

.Container {
  margin-top: 500px;
}

.RoasterImages {
    height: 50px;
    object-fit: scale-down;
  }
