// @import "~bootstrap/scss/bootstrap";

.jumbotron {
  margin-bottom: 0em;
}

.hero {
  text-align: center;
}

.beans-index-main {
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

.filter-wrapper.container {
  width:40%;
  margin: 0, auto;
  // flex-shrink: 1;
}

.beans-index-grid {
  // flex-grow: 2;
  justify-content: space-between;
}

.beans-show-wrapper {
  display: flex;
  flex-direction: row;
  margin: 70px 30px;
}

.row {
  justify-content: space-between;
}

.footer {
  height: 30vh,;
  background-color: #000;
  color: #fff;
  text-align: center;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

.RoasterImages {
    height: 200px;
    object-fit: scale-down;
    margin: 5%;
  }

.roasterCard {
  display: flex;
  margin: 5%;
}

.roasterCardButton {
  margin-bottom: 5%;
  // background-color: rgba(206, 75, 14, 0.774);
  // color: black;
}